<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
	


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>STEP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
   
</head>

<body background="./ballet.jpg">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">	<a class="navbar-brand" href="#">STEP - Dance & Perfomance School</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" onclick="document.getElementById('id01').style.display='block'">Login</a></li> <!-- Opens the login block-->
                    <li class="nav-item"><a class="nav-link" href="#">Classes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</nav>






<!-- Page Content -->
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-12 text-center">
           
				<h1 class="mt-5">Welcome to STEP - Dance & Performance School</h1>
				<h3 class="lead"> </h3>
			</div>
			<div id="results" class="col-lg-8 text-center order-3"></div>
		</div>
	</div>


	<div class="container">
		<div class="row">
        <div class="col-lg-4 text-center order-1">
			
				<form action="/create" method="POST" class="card card-body">
					<div class="form-group">
						<select type="text" name="task" placeholder="Insert a Course Name" class="form-control" autofocus>
                    
							<option value="Ballet Dance">Ballet Dance</option>
							<option value="Tap Dance">Tap Dance</option>
							<option value="Jazz Dance">Jazz Dance</option>
							<option value="Morden Dance">Morden Dance</option>
						</select>
                    
                    </div>
                    <div class="form-group">
						<select type="text" name="description" placeholder="Insert course level" class="form-control">
                       
							<option value="Beginner">Beginner</option>
							<option value="Intermadiate">Intermadiate</option>
							<option value="Advanced">Avanced</option>
							
						</select>

                        </div>
                    <div class="form-group">
						<input type="text" name="price" placeholder="Course Price" class="form-control">
                    </div>
                    <button class="btn btn-primary">
                        Save
                    </button>
				</form>
               
        </div>
 
 <div class="col-lg-8 text-center order-2">
                <% tasks.forEach(function (task) { %>
                    <div class="card card-body mt-1">
                        <h5><%= task.task %></h5>
                        <p><%= task.description %></p>
                        <p><%= task.price %></p>
                    </div>
                <% }) %>
</div>

               
			</div>
		</div>
	</div>
	
</body>

</html>