html {
  position: relative;
  min-height: 100%;
  
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  color:black;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
     position: center;
     
}
 table {
     border-collapse: collapse;
     width:100%;
     background-color: #8e8f8e;
     
}
 td, th {
     border: 1px solid #ced4da;
     padding: 0.5rem;
     text-align: left;
    
}
 th {
     font-weight: bold;
     

}
p{
    font-weight: bold;
    color:rgb(27, 20, 48);
}
.selected {
            background-color: #dc3545;
            color: #FFF;
}


/* STYLE FOR THE LOGIN*/
/* CSS Style reference from https://bootsnipp.com/snippets/a6Pdk*/

 
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Set a style for all buttons */
button {
  background-color: #b3a1a1d2;
  color: black;
  padding: 10px 10px;
   border-radius: 10%;
text-align: center;
font-weight: bold;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  
}

img.avatar {
  width:30%;
  border-radius: 20%;
}

.container {
  padding: 16px;
  
}

span.psw {
  float: right;
  padding-top: 16px;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;

}

/* Modal Content/Box */
.modal-content {
  background-color: #8a8686;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
   
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(196, 126, 126);
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;

  }
}
